<h1>ORDER CONFIRMATION</h1>
<p><b>Name:</b> <%= @order.name %></p>
<p><b>Address:</b> <%= @order.address %></p>
<p><b>Size:</b> <%= @order.size %> x <%= @order.quantity %></p>
<p><b>Total:</b> £ <%= @order.total %></p>