<h1>Shoe Orders at Shoo</h1>


<% @orders.each do |order| %>
  <p><b>Name:</b> <%= order.name %></p>
  <p><b>Address:</b> <%= order.address %>  </p>
  <p><b>Order:</b> x <%= order.quantity %> of shoe size <%= order.size %></p>
  <p><b>Total:</b> <%= order.total %></p>
  <hr>
<% end %>